*,
*::before,
*::after {
    box-sizing: border-box;
}

html {background-color: black}

/* Custom Properties, update these for global changes */
:root {
    --ff-primary: serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #050505;
    --clr-dark: #F5F5F5;
    --clr-gray: gray;
    --clr-accent: #1fd655; 
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
@media (max-width: 800px) {
    /* Manipulated by JavaScript*/
}

body {
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin-left: 2.0%;
    margin-right: 2.0%;
    position: relative
}
body:after {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
}
section {
    background: var(--clr-dark);
    border-radius:  1em;
}
b {
    color: var(--clr-accent);
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    font-size: var(--fs-body);
    table-layout:fixed;
    text-align:  center;
}
tbody td:nth-child(6), tbody td:nth-child(7), 
thead th:nth-child(6), thead th:nth-child(7),
tfoot td:nth-child(6), tfoot td:nth-child(7){
    background-color: var(--clr-accent);
    color: var(--clr-dark);
}
button {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: var(--clr-light);
    border-color:  var(--clr-accent);
    padding: 12px 24px;
}

/*TITLE CSS*/
.title {
    text-align:  center;
    line-height: 1;
    margin: 5%;
}
.titleHeader {
    font-size: var(--fs-h2);
    color: var(--clr-accent);
}
.loginLink { 
    display: inline-block;
    padding: .8em 2.5em;
    background: var(--clr-accent);
    color:  var(--clr-dark);
    border-radius: 0%;
    text-decoration: none;
    border-radius: 5px;
}
.loginLink:hover {
    transform: scale(1.15);
}
.topLeftHeader{
    margin: 0;
    display: inline;
    position: absolute;
    font-size: var(--fs-body);
    top:10px;
    left:20px;
    color: var(--clr-dark);
    text-decoration: none;
}

/*ABOUT CSS*/
.about {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin:  5%;  
}
.aboutText {
    margin-left:  20px;
    margin-right: 20px;
    margin-bottom: 70px;
    margin-top: 20px;
}

/*INFORMATION CSS*/
.information {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin:  5%;
}
.informationText {
    margin-left:  20px;
    margin-right: 20px;
    margin-bottom: 70px;
    margin-top: 20px;
}
.titleI {
    text-align:  center;
    text-decoration: none;
    background: center;
}
.title h2 {
    letter-spacing: -6px;
}
.interests {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.interest {
    display: flex;
    background: var(--clr-accent);
    border: 5px;
    width: 51%;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--clr-dark);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.myStats {
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}
.stats {
    margin-bottom: 4em;
}
.stat {
    max-width: 500px;
    margin: 0 auto;
    text-decoration: none;
}
.my-services {
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}
.service_link {
    color: var(--clr-light);
    text-decoration: none;
}
.service_link hover {
    opacity:  .9;
}
.my-services__about {
    background-color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply; 
    color: var(--clr-light);
    text-align: center;
}
.section__title--services {
    color: var(--clr-light);
    position: relative;
}
.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
.services {
    margin-bottom: 4em;
}
.service {
    max-width: 500px;
    margin: 0 auto;
    text-decoration: none;
}
@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }  
    .service + .service {
        margin-left: 2em;
    }
}
.giant {
    font-size: 3.3em;
}

/*LOGIN CSS*/
.loginSection {
    background: var(--clr-light);
    width: 60%;
    margin: auto -1em -1em;
    margin-left: 20%;
    margin-right: 20%;
}
.login {
    border: none;
    display: flex;
    color: var(--clr-light);
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 2em;
    margin-bottom: 5px;
    border-radius: 10px;
}
@media (max-width: 400px) {
    .loginSection {
        width: 90%;
        margin: auto;
    }
    .about, .information {
        width: 95%;
        margin: auto;
    }
}
::placeholder {
    color: var(--clr-light);
    opacity: 0.9;
}
.loginBtn {
    justify-content: center;
    background: var(--clr-accent);
    color: var(--clr-light);
    width: min(50%, 400px);
    height: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
}
.loginBtn:hover {
    transform: scale(1.15);
}
.loginErrorSec {
    text-align: center;
    color: var(--clr-accent);
    display: none;
}
.spinners {
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align:  center;
    background: center;
}
.spinny {
    display: inline-block;
    color: var(--clr-accent);
    font-size: 48px;
    animation: spin linear infinite 5s forwards;
    margin-left:  7.5px;
    margin-right: 7.5px;
}
@keyframes spin {
    to { transform: rotate(360deg) }
}

/* MEMBER CSS */
.flex-container {
    display: flex;
}
.flex-container > div {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 10px;
    width: 33.3%;
    margin: 10px;
    text-align: center;
    font-size: 2em;
    border-top: 5px solid var(--clr-accent);
    border-bottom: 5px solid var(--clr-accent);
}
.flex-container h5 {
    color: var(--clr-accent);
    margin-top: 30px;
    margin-bottom: -30px;
}
.dropdown {
    position: relative;
    display: inline-block;
    background: var(--clr-accent);
    width: 100%;
    height: 120px;
    padding-top: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 30px 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}
.dropdown-content a {
    text-decoration: none;
    color: var(--clr-light);
}
.dropdown-content a div {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: var(--clr-dark);
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex-container > div {
        width: 80%;  
        border: none;
        border-left: 5px solid var(--clr-accent);
        border-right: 5px solid var(--clr-accent);
    }
    .dropdown {
        width: 80%;
        margin-left: 10%;
    }
}

/* HEADER CSS */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.logo {
    max-width: 100px;
}
.topleftTitle{
    margin: 0;
    display: inline;
    position: absolute;
    top: 10px;
    left: 25px;
    color: var(--clr-dark);
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-accent);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; 
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link {
    color: inherit;
    font-size: var(--fs-h1);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-light);
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.nav-open .nav {
    transform: translateX(0);
}
.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */
.intro {
    position: relative;
}
.intro__img {
    box-shadow: var(--bs);
    border-radius: 10%
}
.section__subtitle--intro {
    display: inline-block;
}
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }   
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}